@{
    ViewBag.Title = "Index2";
    @Styles.Render("~/Content/edit")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/test")
}

<h2>Index2</h2>

<body>

    <div id="parent" style="width: 50px; height: 50px; background-color: #EEE">

    </div>

</body>