@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<span>
    @Url.Action("Index", "Home", null, "https")<br />
    <a href='@Url.Action("Index", "Home", null, "https")'>this link</a> 
</span>

@*<h3>@ViewBag.Result</h3>*@