@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<span>
    @Url.Action("Index", "Home", null, Request.Url.Scheme)
    <a href='@Url.Action("About", "Home", null, Request.Url.Scheme)'>this link</a> 
</span>

@*<h3>@ViewBag.Result</h3>*@