@model Typer.Domain.Entities.User

@{
    ViewBag.Title = "MailSend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your account is not active yet.</h2>

<h3>A confirmation e-mail has been sent to your account (@Model.Email).</h3>
<h3>Please follow instructions from e-mail to activated your account.</h3>