@{
    ViewBag.Title = "MailInactive";
}

<h2>Your account is not active yet.</h2>

<h2>A confirmation e-mail has been sent to the account you gave us during registration process.
    Please follow instructions from e-mail to activate your account.
</h2>

<h2>If you haven't received any e-mail from us, please click [Re-send verification mail] button on the bottom of this page in order to get another one.</h2>


@*Pole do wpisania adresu e-mail, na który ma zostać przesłany mail aktywacyjny.*@
@*<button>Wysyłanie kolejnego maila weryfikacyjnego.</button>*@