@model Typer.Domain.Entities.User

@{
    ViewBag.Title = "AccountCreated";
    Layout = "~/Views/Shared/Sign.cshtml";
    @Scripts.Render("~/bundles/resend")
}


<div id="message">

    @using (Html.BeginForm("NavigateToHomePage", "Login", FormMethod.Post))
    {

        <div class="line">
            <h2>Account <b>@Model.Username</b> has been created!</h2>
        </div>
        
        <div class="line">
            We have sent confirmation e-mail to @Model.Email. Please follow instructions from e-mail in order to activate your account.
        </div>

        <fieldset>
            <input id="btnBack" type="submit" value="Back" />
        </fieldset>
    }

</div>