@model Typer.BLL.Services.UserRegistrationData

@{
    ViewBag.Title = "MailInactive";
    Layout = "~/Views/Shared/Sign.cshtml";
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/resend")
}



<div id="message">

    <div class="line">
        <h2>Your account is not active yet.</h2>
    </div>

    <div class="line">
        A confirmation e-mail has been sent to the account you gave us during registration process. Please follow instructions from e-mail to activate your account.
    </div>

    <div class="line newLine">
        If you haven't received any e-mail from us, please enter your e-mail address in the textbox below and click [Send verification e-mail] button.
    </div>

   
    <fieldset>
        <div id="div_mail" class="field">
            @Html.LabelFor(u => u.Email, new { @class="label" })
            <div class="error">
                <div class="error_content"></div>
            </div>
            <span>
                @Html.TextBoxFor(u => u.Email, new{  
                    @class="default", 
                    @placeholder="E-mail", 
                    @id="Email"
                })
            </span>

        </div>

    </fieldset>

    <fieldset>
        <input id="btnSend" type="submit" value="Send verification e-mail" />
    </fieldset>
    

</div>