@model Typer.Domain.Entities.User

@{
    ViewBag.Title = "ResetPasswordSuccess";
    Layout = "~/Views/Shared/Sign.cshtml";
    @Scripts.Render("~/bundles/global")
}



<div id="message">

    @using (Html.BeginForm("NavigateToHomePage", "Login", FormMethod.Post))
    {
        <div class="line">
            New password for account @Model.Username has been sent to @Model.Email
        </div>
        
        <fieldset>
            <input id="btnBack" type="submit" value="Back" />
        </fieldset>
    }

</div>