@model Typer.Domain.Entities.User

@{
    ViewBag.Title = "ResetPasswordError";
    Layout = "~/Views/Shared/Sign.cshtml";
}



<div id="message">

    @using (Html.BeginForm("NavigateToHomePage", "Login", FormMethod.Post))
    {
        <div class="line">
            Error occurred when trying to generate new password for user @Model.Username. 
        </div>
        
        <div class="line">
            @ViewBag.Message
        </div>

        <fieldset>
            <input id="btnBack" type="submit" value="Back" />
        </fieldset>
    }

</div>