.radio-container {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 32px;
    padding: 6px;
}

.radio-container div {
    display: block;
    position: relative;
    float: left;
    border: none;
}

.radio-container label {
    height: 20px;
    line-height: 20px;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal;
}

.radio-container label.bold {
    font-weight: bold;
}

.radio-container input[type='radio'] {
    height: 20px;
    line-height: 20px;    
}

.radio-container input[type='checkbox'] {
    height: 20px;
    line-height: 20px;
    float: right !important;
    margin-right: 12px;
}

.radio-label {
    width: 20%;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
}

.radio-options-container {
    width: 80%;
}