@model Typer.Domain.Entities.Question

@{
    ViewBag.Title = "Edit";
    @Styles.Render("~/Content/edit")
}

<div class="container">
    <div class="vert-center edit-panel">

        <div class="field-line">
            @Html.LabelFor(q => q.Id, new { @class="label" })
            <span>
                @Html.TextBoxFor(q => q.Id, new{  
                    @class="default", 
                    @placeholder="Id", 
                    @id="Id"
                })
            </span>
        </div>


    </div>
</div>