@model Typer.Domain.Entities.Language

<div class="language">

    <div class="info">
        <div class="collapse"></div>
        <div class="flag"></div>
        <div class="name"></div>
    </div>

    <div class="options">

    </div>



</div>