@model Typer.Web.Models.QuestionLanguageViewModel

<div class="language" data-value="@Model.Language.Name">

    <div class="info">
        <div class="collapse"></div>
        <div class="flag"></div>
        <div class="name"></div>
    </div>

    <div class="options">
        @foreach (var option in Model.Options) {
            Html.RenderPartial("OptionLine", option);
        }
    </div>



</div>