@model IEnumerable<Typer.Domain.Entities.Question>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var q in Model) {
    <div class="item">
        <h3>@q.Name</h3>
        @q.Weight
    </div>
}