@model Typer.Web.Models.QuestionsListViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/edit")
}


<div class="question header">
    <div class="id">Id</div>
    <div class="name">Name</div>
    <div class="weight">Weight</div>
    <div class="categories">Categories</div>
</div>


@foreach (var q in Model.Questions) {
    Html.RenderPartial("Question", q);
}


<div>
    @Html.ActionLink("Add", "Add", "Edit", new { @class = "add" })
</div>




<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>