@model Typer.Domain.Entities.QuestionOption

<div id="option_@Model.Id" class="option">
    <div class="button delete">del</div>
    <div class="button edit">edit</div>
    <div class="content">
        @Html.QuestionDisplayer(Model.Content)
    </div>
    <div class="weight">@Model.Weight</div>
</div>