
.test-content 
{
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

#test-left {
    display: block;
    float: left;
    position: relative;
    width: 60%;
    height: 100%;
    padding: 0;
    border-right: 1px solid #888888;
    background-color: #E8E8E8;
}

#test-right {
    display: block;
    float: right;
    position: relative;
    width: 40%;
    height: 100%;
    padding: 0;
    border-right: 1px solid #888888;
    background-color: #D2D2D2;
}

#questions-panel {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 6px;
    background-color: transparent;
}

.test-panel
{
    display: table;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin: 9px 0;
    padding: 12px;
    border: 1px solid #888;
    text-align: center;
}

#test-question
{
    font-size: 36px;
    color: #666;
    padding: 18px;
    height: auto;
    font-weight: bold;
    text-align: left;
    display: none;
    margin: 0;
    background-color: rgba(228, 214, 185, 1);
}

#test-answer
{
    display: block;
    height: 200px;
    border: none;
    padding: 0;
}

#test-answer textarea
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    line-height: 54px;
    font-size: 36px;
    text-align: left;
    padding: 18px;
}

#test-answer textarea:focus
{
    border-color: rgb(56, 71, 120);
    color: rgb(56, 71, 120);
    background-color: rgb(186, 210, 223);
}


#test-answer textarea.correct
{
    border-color: rgb(46, 129, 46);
    color: rgb(46, 129, 46);
    background-color: rgba(227, 255, 219, 1)
}

#test-answer textarea.incorrect
{
    border-color: rgb(143, 0, 0);
    color: rgb(143, 0, 0);
    background-color: rgb(255, 205, 205);
}

#test-correct-answers {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    background-color: rgba(189, 255, 192, 1);
    margin-top: 0;
    margin-bottom: 9px;
}

.correct-line {
    width: 100%;
    height: 36px;
    padding: 6px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}















#stats-panel {
    display: block;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    height: 96px;
    text-align: center;
    border-bottom: 1px solid #888888;
    background-color: #EEEEEE;
}


#info-panel {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    border: 1px solid #888;
    text-align: left;
}

.test-info-line {
    float: left;
    width: 100%;
    height: 24px;
    padding: 3px;
}

.test-info-line-label {
    float: left;
    width: 50%;
    text-align: left;
    color: #666;
}

.test-info-line-value {
    float: left;
    width: 50%;
    text-align: right;
    font-weight: bold;
    color: #666;
    padding-right: 6px;
}



#info-lines-container {
    display: block;
    position: absolute;
    height: 100px;
    left: 0px;
    right: 96px;
    top: 0;
    bottom: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    font-family: 'Century Gothic';
}

#result-box {
    display: block;
    float: right;
    top: 0;
    bottom: 0;
    left: 0;
    width: 96px;
    height: 96px;
    line-height: 96px;
    padding: 0;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Century Gothic';
    border-left: 1px solid #888888;
}




#previous-queries {
    display: block;
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    top: 96px;
    bottom: 0;
    right: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #888888;
}

.previous-query-container {
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0 6px;
    border-bottom: 1px solid #888888;
}

.previous-query-metadata-container {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 24px;
    padding: 6px 0;
    border-bottom: 1px solid #CCCCCC;
}

.previous-query-metadata-subpanel{
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 45%;
    height: 100%;
    min-height: 48px;
    padding: 0;
    font-size: 13px;
    font-family: 'Century Gothic';
    text-align: left;
}

.previous-query-question {
    height: auto;
}

.previous-query-correct-answers-container {
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    min-height: 48px;
    padding: 0;
    font-size: 12px;
    font-family: 'Century Gothic';
}

.previous-query-correct-answer {
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    line-height: 18px;
    padding-bottom: 6px;
    font-size: 13px;
    font-family: 'Century Gothic';
    text-align: left;
}

.previous-query-other-correct {
    font-style: italic;
    font-size: 11px;
}



.previous-query-my-answer-container {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #CCCCCC;
}

.previous-query-my-answer {
    display: block;
    float: left;
    font-size: 11px;
    font-family: 'Century Gothic';
    font-style: italic;
    line-height: 18px;
    text-align: left;
}

.previous-query-stats-container {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 4px 0;
}

.previous-query-edit-icon {
    display: table-cell;
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 3px;
    background-image: url('/Content/images/edit2.png');
}

.previous-query-edit-icon:hover {
    cursor: pointer;
}

.previous-query-correct {
    background-color: rgba(227, 255, 219, 1)
}

.previous-query-incorrect {
    background-color: rgb(255, 205, 205);
}

.previous-query-start-icon {
    display: table-cell;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin-left: 0;
    margin-right: 3px;
}

.query-counter-icon {
    background-image: url('/Content/images/question.png');
}

.query-correct-counter-icon {
    background-image: url('/Content/images/thumb-up.png');
}

.query-incorrect-counter-icon {
    background-image: url('/Content/images/thumb-down.png');
}

.query-stat-value {
    display: block;
    float: left;
    font-size: 11px;
    font-family: 'Century Gothic';
    line-height: 18px;
    text-align: right;
    padding: 0 6px;
}

.query-correct-percent {
    display: block;
    float: left;
    padding-left: 12px;
}


.test-buttons-panel {
    display: block;
    position: relative;
    float: left;
    height: 36px;
    width: 100%;
}

#next-query-button {
    display: block;
    position: relative;
    float: right;
    height: 36px;
    width: 120px;
    border: 1px solid #888888;
    line-height: 36px;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 14px;
    font-weight: bold;
    background-color: #BBBBBB;
    text-transform: capitalize;
    cursor: pointer;
}