.variant-sets-panel{
    width: 100%;
    height: 36px;
    margin: 12px 0;
    border: 1px solid #777;
}

input[type=submit].variant-button-edit {
    position: relative;
    display: block;
    float: left;
    height: 34px;
    width: 120px;
    padding: 9px;
    margin: 0;
    line-height: 14px;
    background-color: green;
    border: none;
    border-right: 1px solid #777;
}

span.plain {
    padding: 6px 3px;
    line-height: 12px;
    font-size: 12px;
}

span.complex {
    border: 1px solid rgb(161, 144, 0);
    padding: 5px 3px;
    margin: 0 2px;
    line-height: 12px;
    font-size: 12px;
    background-color: rgb(255, 240, 182);
    color: rgb(110, 98, 0);
    cursor: pointer;
}



.variant-set-block {
    position: relative;
    float: left;
    display: block;
    width: auto;
    height: 28px;
    border: 1px solid #999;
    padding: 2px;
    margin: 3px 6px;
    background-color: rgb(255, 251, 210);
    cursor: pointer;
    z-index: 2;
}

.variant-set-block .flag {
    position: relative;
    float: left;
    display: block;
    height: 22px;
    width: 32px;
    border: 1px solid #999;
}

.variant-set-block .name {
    position: relative;
    float: left;
    display: block;
    height: 22px;
    width: auto;
    padding: 0 9px;
    border: 1px solid transparent;
    line-height: 20px;
}

.active-variant-set-block {
    background-color: rgb(255, 219, 118);
    font-weight: bold;
}




.variant-subpanel {
    display: block;
    float: left;
    height: auto;
    width: 100%;
    padding: 12px;
    padding-bottom: 0;
    margin-bottom: 12px;
    background-color: white;
    border: 1px solid #ccc;
    overflow: hidden;
}

.variant-subpanel div {
    display: block;
    float: left;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.variant-subpanel-header {
    height: auto;
    width: 100%;
    padding-bottom: 12px;
}

.variant-subpanel-expander {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 9px;
    border: 1px solid #444;
    background-color: #eee;
}

.variant-subpanel-name {
    float: left;
    width: auto;
    height: 34px;
    padding: 10px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

.variant-subpanel-content {
    height: auto;
    width: 100%;
    padding-bottom: 12px;
}

.variant-subpanel-content .active{
    background-color: rgb(150, 255, 150);
}



/*Variant connections*/
.variant-connection-group {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 6px 0;
    border: 1px solid #999;
    background-color: rgb(246, 246, 246);
    overflow: visible;
}






.variant-set-block-cancel {
    position: absolute !important;
    top: 6px;
    left: -22px;
    width: 16px;
    height: 16px;
    visibility: hidden;
    background-image: url('/Content/images/delete-node.png');
    z-index: 3;
}

.variant-block-mover {
    position: absolute !important;
    -ms-opacity: 0.5;
    opacity: 0.5;
    margin: 0;
    z-index: 3;
}


/*







.variant-options-groups {
    height: auto;
    width: 100%;
    padding: 6px 0;
    border-top: 1px solid #888;
}

.variant-subpanel-content .variant-options-groups:first-child {
    border-top: none;
}

.variant-options-group {
    width: auto;
    margin: 0 6px;
    cursor: pointer;
}


.variant-subpanel-content .variant-connection-group:first-child {  
    margin-top: 0;
}

.variant-subpanel-content .variant-connection-group:last-child {  
    margin-bottom: 0;
}

.variant-subpanel-content .variant-options-group:first-child {
    margin-left: 0;
}

.variant-subpanel-content .variant-options-group:last-child {
    margin-right: 0;
}

.variant-subpanel-content .keys-column {
    position: relative;
    float: left;
    width: 200px;
    height: auto;
    padding-right: 6px;
    border-right: 1px solid #777;
}

.variant-subpanel-content .group-options {
    position: absolute;
    left: 206px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    padding-left: 6px;
    overflow-x: auto;
}


.variant-subpanel-content .group-column {
    display: block;
    position: relative;
    float: left;
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
    max-width: 500px;
    height: 100%;
    border: none;
    padding: 0 3px;
}



.group-options-container {
    margin-top: 12px;
    height: auto;
    width: 100%;
    border: 1px solid #777;
}

.group-options-content {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    border-bottom: 1px solid #777;
    padding: 6px;
}

.group-options-buttons {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 6px;
}

.variant-subpanel-content .column-header {
    width: 100%;
    height: 24px;
    border: 1px solid transparent;
    margin-bottom: 4px;
    padding: 3px 6px;
    text-align: center;
    line-height: 14px;
    font-weight: bold;
}

.group-column .column-header:hover {
    background-color: rgb(141, 255, 101);
    border-color: #999;
    cursor: pointer;
}

.keys-column .column-header:hover {  
    background-color: transparent;
}

.variant-dependency-line {
    width: 100%;
    height: auto;
    border: 1px solid #777;
    margin: 6px 0;
}

.variant-dependency-line .slave-container {
    width: auto;
    height: auto;
    padding: 6px 0;
    margin-right: 60px;
}

.variant-dependency-line .variant-set-block {
    margin: 0 6px;
}

.variant-dependency-line .master-container {
    float: left;
    width: auto;
    height: auto;
    padding: 6px;
}

.variant-set-edit-panel .meta-container {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: 32px;
}

.meta-container .flag {
    position: relative;
    float: left;
    width: 51px;
    height: 32px;
    margin: 1px 0;
    margin-right: 6px;
    border: 1px solid #444;
    background-position: center;
    background-color: transparent !important;
}

.wordtype-container {
    position: relative;
    float: left;
    width: 100%;
    height: 26px;
    margin: 12px 0;
}

.wordtype-container .name {
    position: absolute;
    left: 0;
    top: 0;
    width: 51px;
    height: 26px;
    padding: 6px;
    line-height: 14px;
    text-align: center;
}

.wordtype-container .combobox {
    position: absolute;
    left: 57px;
    right: 0;
    top: 0;
    height: 26px;
}

input.set-name:focus
{
    border-color: rgb(56, 71, 120);
    color: rgb(56, 71, 120);
    background-color: rgb(186, 210, 223);
}

.variant-set-params-container {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 12px 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.variant-set-single-param {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 6px 0;
}

.variant-set-single-param > div {
    display: block;
    position: relative;
    float: left;
}

.variant-set-single-param .name {
    width: 10%;
    height: 26px;
    padding: 6px;
    line-height: 14px;
    text-align: center;
}

.variant-set-single-param .control-container {
    width: 90%;
}

.keys-content {
    width: 100%;
    height: auto;
}

.variants-content {
    width: 100%;
    height: auto;    
}

.variant-key-container {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    float: left;
    margin: 3px 0;
}

.variant-key-field {
    width: 168px;
    height: 32px;
    padding: 3px;
    border: 1px solid #999999;
    margin: 0;
    text-align: center;
    background-color: #e7ffe3;
}


.key-remove-button {
    width: 16px;
    height: 16px;
    margin: 8px 9px 8px 0;
    background-image: url('/Content/images/delete-node.png');
}

.keys-content .variant-key-container:first-child {
    margin-top: 0;
}

.keys-content .variant-key-container:last-child {
    margin-bottom: 0;
}


.variant-value-field {
    width: 100%;
    height: 32px;
    padding: 3px;
    border: 1px solid #999999;
    margin: 3px 0;
    text-align: center;
}

.variants-content .variant-value-field:first-child {
    margin-top: 0;
}

.variants-content .variant-value-field:last-child {
    margin-bottom: 0;
}


.add-variant {
    display: block;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 32px;
    width: 143px;
    border: 1px solid #555;
    font-size: 14px;
    line-height: 14px;
    padding: 8px 18px;
    margin: 0;
    -webkit-box-shadow: 1px 1px 0 0 #ffffff;
    -webkit-box-shadow: 1px 1px 0 0 rgba(255,255,255,0.25);
    -ms-box-shadow: 1px 1px 0 0 #ffffff;
    -ms-box-shadow: 1px 1px 0 0 rgba(255,255,255,0.25);
    box-shadow: 1px 1px 0 0 #ffffff;
    box-shadow: 1px 1px 0 0 rgba(255,255,255,0.25);
    background-color: rgb(121, 173, 131);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.limit-grid-container {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    border-top: 1px solid #777;
    padding: 6px 0;
    text-align: center;
}

.limit-grid-container div {
    display: block;
    position: relative;
    float: left;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.limit-grid-header-column {
    width: 100px;
    height: auto;
    border-right: 1px solid #888;
    margin: 0;
    padding: 0;
}

.limit-grid-content {
    left: 100px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    margin: 0;
    padding: 0;
}

.limit-grid-column {
    display: block;
    position: relative;
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
    border-right: 1px solid #888;
}

.limit-grid-header-cell {
    width: auto;
    -moz-min-width: 50px;
    -ms-min-width: 50px;
    -o-min-width: 50px;
    -webkit-min-width: 50px;
    min-width: 50px;
    height: 24px;
    padding: 6px;
    line-height: 12px;
    font-size: 12px;
    margin: 0;
}

.limit-grid-cell {
    height: 24px;
    width: 100%;
    border-top: 1px solid #888;
}

.limit-grid-label {
    width: 100%;
    height: 24px;
    padding: 6px;
    line-height: 12px;
    font-size: 12px;
    border-top: 1px solid #888;
}*/



