div.pager { 
    text-align:right; 
    padding: .5em 0 0 0; 
    margin-top: 1em; 
}

div.pager a {
    font-size: 1.1em; 
    color: #666; 
    text-decoration: none;
    padding: 0 .4em 0 .4em; 
}

div.pager a:hover { 
    background-color: silver; 
}

div.pager a.selected { 
    background-color: #353535; 
    color: white;
}

.question
{
    display: table;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header
{
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 18px 0px 6px 0px;

}

.inactive
{
    background-color: #eee;
    color: #888;
}

.question div
{
    display: table-cell;
    position: relative;
    height: 100%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.question .id
{
    width: 50px;
    padding: 0px 12px;
    margin-right: 6px;
    text-align: right;
}

.question .name
{
    width: 400px;
    padding: 0px 12px;
}

.question .weight
{
    width: 210px;
    margin: 0px 18px;
}

.question .categories
{
    width: 210px;
    margin: 0px 36px;
}




.question a
{
    float: left;
    margin-right: 21px;
    margin-left: 21px;
}

.question a.weight
{
    display: table-cell;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 0px;
    border: 1px solid #999999;
}

.question a.checked
{
    background-color: green;
}