body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    background-color: #222;
}

header, footer, nav, section 
{
    display: block;
}

label
{
    display: block;
    float: left;
    width: 120px;
    color: #DDD;
    height: 21px;
    line-height: 21px;
    font-size: 13px;
    font-weight: bold;
}

fieldset
{
    border: none;
    margin: 0;
    padding: 8px;
}

fieldset .centered
{
    text-align: center;
}

span
{
    display: block;
    overflow: hidden;
    margin: 0;
}


input.default
{
    width: 100%;
    color: #222;
    background-color: rgb(229, 230, 231);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input.default:focus
{
    border-color: rgb(56, 71, 120);
    background-color: rgb(186, 210, 223);
}

.field
{
    padding-bottom: 5px;
    margin: 0;
    width: 100%;
    overflow: visible;
}

.error
{
    display: table;
    vertical-align: middle;
    float: right;
    height: 33px;
    background-color: red;
    border: 1px solid #777777;
}

.error_content
{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    font-size: 13px;
}




input.valid
{
    border-color: green;
    background-color: green;
}

input.invalid
{
    border-color: red;
    background-color: red;
}

input[type=submit]
{
    display: block;
    float: right;
    width: 100px;
    height: 32px;
    border: 1px solid #555;
    font-size: 16px;
    box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.25);
    outline-width: 0px;
    outline-style: none;
    outline-color: invert;
    background-color: rgb(65, 218, 101);
    color: white;
    font-weight: bold;
}

input[type="submit"]:disabled
{
    background-color: #BBB;
    color: #777;
}

input
{
    font-family: Calibri, Arial, Tahoma, Georgia, serif;
    margin: 0;
    border: 1px solid #555;
}







.validation-summary-errors
{
    color: red;
    box-sizing: border-box;
    margin: 3px 0px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}

.validation-summary-errors ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}








#account
{
    display: block;
    position: relative;
    width: 36%;
    height: 20%;
    margin: 10% 32% 70% 32%;
    background-color: #eee;
    border: none;
}

#account input[type=text], input[type=password]
{
    font-size: 17px;
    font-weight: bold;
    box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.25);
    outline-width: 0px;
    outline-style: none;
    outline-color: invert;
}


#account input.default
{
    padding: 6px 12px;
}

#account input.default:focus
{
    border-color: rgb(56, 71, 120);
    background-color: rgb(186, 210, 223);
}


#account label
{
    padding: 7px;
    color: #222;
}



#account .icon
{
    float: right;
    width: 32px;
    height: 32px;
    margin-left: 3px;
    border: 1px solid transparent;
}


#account .iconValid
{
    background-image: url('images/icon_valid.png');
    /*background-color: green;*/
}

#account .iconInvalid
{
    background-image: url('images/icon_invalid.png');
    /*background-color: red;*/
}



#account .error
{
    width: 200px;
    margin-right: -218px;
}

#account .footer
{
    display: block;
    border: none;
    margin: 0;
    padding: 10px 8px 13px 8px;
    overflow: hidden;
}

#account a
{
    display: block;
    height: 28px;
    padding: 2px 7px;
    border: none;
    line-height: 28px;
    font-size: 14px;
    color: rgb(60, 105, 165);
    text-decoration: none;
}

#account a:hover
{
    color: rgb(104, 152, 217);
}

#account a.signup
{
    float: left;
}

#account a.reset
{
    float: right;
    margin-right: 12px;
}







#message
{
    width: 40%;
    height: auto;
    margin: 10% 30% 70% 30%;
    padding: 5%;
    background-color: #222;
    color: #DDD;
    border: none;
}

#message .line
{
    font-size: 14px;
    padding: 0;
    margin: 9px 0px;
}

#message .newLine
{
    margin-top: 48px;
}

#message fieldset
{
    padding: 8px 0px;
}

#message label
{
    width: 70px;
    padding: 7px 0px;
    color: #DDD;
}

#message input[type=text]
{
    font-size: 17px;
    border: 1px solid transparent;
}

#message input.default
{
    padding: 3px;
}

#message .error
{
    height: 29px;
    width: 250px;
    margin-right: 0;
    margin-left: 9px;
}

#message .field
{
    padding-bottom: 0px;
}

#message input[type=submit]
{
    width: auto;
}