body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    background-color: #222;
}

header, footer, nav, section 
{
    display: block;
}

#account
{
    display: block;
    position: relative;
    width: 36%;
    height: 20%;
    margin: 10% 32% 70% 32%;
    background-color: #eee;
    border: none;
}

#account .field
{
    padding-bottom: 5px;
    margin: 0;
    width: 100%;
    overflow: visible;
}

#account input[type=text], input[type=password]
{
    font-size: 17px;
    font-weight: bold;
    box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.25);
    outline-width: 0px;
    outline-style: none;
    outline-color: invert;
}

#account input[type=submit]
{
    display: block;
    float: right;
    width: 100px;
    height: 32px;
    border: 1px solid #555;
    font-size: 16px;
    box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.25);
    outline-width: 0px;
    outline-style: none;
    outline-color: invert;
    background-color: rgb(65, 218, 101);
    color: white;
    font-weight: bold;
}

#account input.default
{
    width: 100%;
    padding: 6px 12px;
    color: #222;
    background-color: rgb(229, 230, 231);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#account input.default:focus
{
    background-color: rgb(186, 210, 223);
}

#account input.valid
{
    border-color: green;
    background-color: green;
}

#account input.invalid
{
    border-color: red;
    background-color: red;
}


#account fieldset
{
    border: none;
    margin: 0;
    padding: 8px;
}

#account input
{
    font-family: Calibri, Arial, Tahoma, Georgia, serif;
    margin: 0;
    border: 1px solid #555;
}

#account label
{
    display: block;
    float: left;
    width: 120px;
    color: #222;
    padding: 7px;
    height: 21px;
    line-height: 21px;
    font-size: 13px;
    font-weight: bold;
}

#account span
{
    display: block;
    overflow: hidden;
    margin: 0;
}

#account span.icon
{
    float: right;
    width: 33px;
    height: 33px;
    margin-left: 3px;
    background-color: green;
    border: 1px solid #777777;
}

#account span.error
{
    float: right;
    width: 200px;
    margin-right: -218px;
    height: 33px;
    background-color: red;
    border: 1px solid #777777;
}

#account .footer
{
    display: block;
    border: none;
    margin: 0;
    padding: 10px 8px 13px 8px;
    overflow: hidden;
}

#account a
{
    display: block;
    width: auto;
    height: 28px;
    padding: 2px 7px;
    border: none;
    line-height: 28px;
    font-size: 14px;
    color: rgb(60, 105, 165);
    text-decoration: none;
}

#account a:hover
{
    color: rgb(104, 152, 217);
}

#account a.signup
{
    float: left;
}

#account a.reset
{
    float: right;
    margin-right: 12px;
}

.validation-summary-errors
{
    color: red;
    box-sizing: border-box;
    margin: 3px 0px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
}

.validation-summary-errors ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}