.test-panel
{
    display: table;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    margin: 9px 0px;
    padding: 12px;
    border: 1px solid #888;
}

.test-panel-content
{
    display: table-cell;
    vertical-align: middle;
    text-indent: hanging;
}


#test-question
{
    background-color: green;
}

#test-answer
{
    display: block;
    height: auto;
    padding: 0;
    border: none;
}

#test-answer textarea
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 12px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-size: 20px;
}

#test-answer textarea:focus
{
    border-color: rgb(56, 71, 120);
    color: rgb(56, 71, 120);
    background-color: rgb(186, 210, 223);   
}


#test-answer textarea.correct
{
    border-color: rgb(46, 129, 46);
    color: rgb(46, 129, 46);
    background-color: rgb(170, 255, 168);
}

#test-answer textarea.incorrect
{
    border-color: rgb(143, 0, 0);
    color: rgb(143, 0, 0);
    background-color: rgb(255, 205, 205);
}