#tree_container
{
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    padding: 6px;
    border: 1px solid black;
    background-color: #ddd;
}

#tree_container div
{
    display: block;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.node-container
{
    width: 100%;
}

div.line
{
    width: 100%;
    padding: 4px 0px 0px 22px;
    height: 20px;
    overflow: visible;
}

div.children-container
{
    width: 100%;
    padding-left: 22px;
    height: auto;
    overflow: visible;
}

.line .icon
{
    width: 16px;
    height: 16px;
    margin: 0px 6px 0px 3px;
    border: 1px solid black;
    padding: 1px;
    line-height: 10px;
    text-align: center;
}

div.dots
{
    position: absolute !important;
    width: 25px;
    height: 100%;
    left: -22px;
    top: -2px;
    background-color: rgba(255, 0, 0, 0.5);
}


.children-container .node-container .line {
    background-image: url('images/node.png') !important;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.children-container .node-container .children-container {
    background-image: url('images/vertical_line.png') !important;
    background-repeat: repeat-y;
}

.children-container .node-container:last-child .line {
    background-image: url('images/last_node.png') !important;
    background-repeat: no-repeat;
}

.children-container .node-container:last-child .children-container {
    background-image: none !important;
}

.children-container .children-container:first-child {  
   
}