header, footer, nav, section 
{
    display: block;
}

fieldset
{
    border: none;
    margin: 0;
    padding: 8px;
}

fieldset .centered
{
    text-align: center;
}

span
{
    display: block;
    overflow: hidden;
    margin: 0;
}


.centered
{
    text-align: center;
}



div.pager { 
    text-align:right; 
    padding: .5em 0 0 0; 
    margin-top: 1em; 
}

div.pager a {
    font-size: 1.1em; 
    color: #666; 
    text-decoration: none;
    padding: 0 .4em 0 .4em; 
}

div.pager a:hover { 
    background-color: silver; 
}

div.pager a.selected { 
    background-color: #353535; 
    color: white;
}

.word
{
    display: table;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header
{
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 18px 0 6px 0;
}

.inactive
{
    background-color: #eee;
    color: #888;
}

.invisible
{
    visibility: hidden;
}

.word div
{
    display: table-cell;
    position: relative;
    height: 100%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.word .id
{
    width: 50px;
    padding: 0 12px;
    margin-right: 6px;
    text-align: right;
}

.word .name
{
    width: 400px;
    padding: 0 12px;
}

.word .weight
{
    width: 210px;
    margin: 0 18px;
}

.word .categories
{
    width: 210px;
    margin: 0 36px;
}

.word .type
{
    width: 80px;
    padding: 0 12px;
    text-align: center;
}



.word a
{
    float: left;
    margin-right: 21px;
    margin-left: 21px;
}

.word a.weight
{
    display: table-cell;
    position: relative;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-left: 0;
    margin-right: 3px;
    font-size: 0;
    border: 1px solid transparent;
    background-image: url('images/gray_star.png');
}

.word a.checked
{
    background-image: url('images/gold_star.png');
}


.edit-panel
{
    padding: 12px 0;
}

.field-line
{
    display: table;
    position: relative;
    width: 100%;
    height: 34px;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
    overflow: visible;
}


.edit-word
{
    display: block !important;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25px !important;
    height: 25px !important;
    margin-left: 12px;
    margin-right: 12px;
    padding: 3px;
    background-image: url('images/edit.png');
    border: 1px solid transparent;
    color: transparent;
    cursor: pointer;
}

.edit-word:hover
{
    background-color: rgb(253, 235, 191);
    border: 1px solid rgb(189, 133, 0);
}



.filter-panel {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 80px;
    background-color: red;
}
